$font-color: #333;
$base-size: 16px;
$page-header-color: #f1f1f1;
$lighter-text: #bbb8b2;
$link-color: #00CC00;
$list-separator-color: $lighter-text;

body {
    font-size: 100%;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: $link-color;
}

.text-small {
    font-size: 0.8em;
}

.text-large {
    font-size: 1.2em;
}

.clearfix {
    clear:both;
}

/*
@import "compass/reset";
@import "compass/utilities";
*/
