@import "base";

.page-header {
    background-color: $page-header-color;
    padding: 1em;
}

.page-header ul {
    list-style: none;
    margin: 0em;
    padding: 0em;
}

.page-header li {
    display: inline;
    padding: .5em;
}

.page-header a {
    @extend .text-large
}

.main {
    padding-left: 1em;
    padding-right: 1em;
}

.article {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 0em;
    margin-bottom: 0em;
}

.article-list .article a {
    color: black;
    width: 100%;
    height: 100%;
}

.article h1, .article a h1 {
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 1.25em;
}

.article-date {
    padding: 0em;
    margin: 0em;
    color: $lighter-text;
}

.article-list article {
    border-bottom: 1px solid $list-separator-color;
}

.footer {
    background-color: $page-header-color;
    padding: 1em;
}

.nav-list ul {
    list-style: none;
    margin: 0em;
    padding: 0em;
}

.nav-list li {
    display: inline;
    padding: .5em;
}

@media all and (min-width: 43.75em) {
    p {
    }
}
