/* colors */

body
    font 100%;

header
    border-bottom 1px solid black;

header a
    color black;
    text-decoration none;

article h1
    margin-bottom 0px;

article p
    display block;
    margin 0px;
    padding 0px;

footer
    border-top 1px solid black;
